@import "tailwindcss";

@font-face {
  font-family: 'Rubik';
  src: url(/fonts/Rubik-Bold.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DynamicSplash';
  src: url(/fonts/Dynamic01_Splash.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Uma-Small';
  src: url(/fonts/UMAE_UDKakugo_SmallPr6-E.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
    --color-bg: #0F0B14;
    --color-surface: #2A1F3A;
    --color-border: #3B274F;
    --color-text: #ECE7F0;
    --color-text-muted: #B8B0BE;
    --color-accent-amber: #C17B1E;
    --color-accent-rose: #A84576;
    --color-accent-magenta: #693A7B;
    --font-rubik: "Rubik", "sans-serif";
    --font-dynamic-splash: "DynamicSplash", "sans-serif";
    --font-uma-small: "Uma-Small", "sans-serif";
}