@import "tailwindcss";

@font-face {
  font-family: 'Rubik';
  src: url(/fonts/Rubik-Bold.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DynamicSplash';
  src: url(/fonts/Dynamic01_Splash.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Uma-Small';
  src: url(/fonts/UMAE_UDKakugo_SmallPr6-E.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
    --font-rubik: "Rubik", "sans-serif";
    --font-dynamic-splash: "DynamicSplash", "sans-serif";
    --font-uma-small: "Uma-Small", "sans-serif";
}